.adminPage h2{
    padding-top: 10%;
    color: white;
    text-align: center;
    padding-bottom: 10%;
    margin: 2px;
  
}
.adminPage{
    background-image: url("./../../img/book3.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
    padding: 0% 0% 5% 0%;
}
.dept,.sub ,.account{
    margin:0px;
}
.dept  h4{
    margin: 20px 70px;
    color: #9A616D;
    letter-spacing: 3px;
   
}
.dept input ,.sub input ,.account input{
margin: 10px;
border-radius: 5px;

}
.dept button,.sub button{
    background-color: #9A616D;
    color: white;
    margin-left: 15%;
    margin-top: 15px;
    margin-bottom:15px ;
    border-color: white;
    width:50%;
}
.dept button:hover ,.sub button:hover{
    background-color: white;
    color: #9A616D;
    border-color: #98505f;
}
.sub h4{
    margin: 20px 70px;
    color: #9A616D;
    letter-spacing: 3px;
}
.account h4{
    margin: 5% 0%;
    color: #9A616D;
    letter-spacing: 3px;
    text-align: center;   
}
.account button{
    background-color: #9A616D;
    color: white;
    margin-top: 15px;
    margin-bottom:15px ;
    border-color: white; 
    width: 50%;
}
.btn{
    margin-top: 0%;  
}
img{
    width: 100%;
    height:100%;
}
.cardd{
    background-color: rgba(255, 255, 255, 0.841);
    border-radius: 5px;
    border: solid 2px rgb(48, 48, 48) ;
    padding: 4%;
}
.br{
    height: 73px;
    background-color: #9A616D;
    margin: 21px 0px;
}